<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EMR  </title>
  <%- include("../../header") -%>
</head>

<body>
    <div class="content-wrapper">
  <div class="container-xxl container-p-y flex-grow-1">

    <!-- PATIENT INFO -->
    <div class="mb-4 card">
      <div class="card-body">

        <div class="row align-items-center">

          <div class="col-md-4">
            <strong>Couple No.</strong><br>
            <small>Referred By: SFDKJ</small>
          </div>

          <div class="col-md-4 text-center">
            <i class="bx bx-user fs-2"></i><br>
            <strong>SAHIL GUPTA, MRN: MR_33</strong><br>
            <small>Age: 23 Y, 0 M, 22 D Male</small>
          </div>

          <div class="col-md-4 text-end">
            <i class="bx bx-user fs-2"></i><br>
            <strong>FIRS</strong><br>
            <small>Age: 0 Y, 0 M, 0 D</small>
          </div>

        </div>

      </div>
    </div>
    </div>
    </div>
<%- include("./preExisting") %>
<%- include("./allergies") -%>
<%- include("./chiefComplaint") -%>
<%- include("./InfertilityHistory") -%>
<%- include("./examination") -%>
<%- include("./Diagnosis") -%>
<%- include("./DoctorNotes") -%>
<%- include("./ServiceAdvice") -%>
<%- include("./prescription") -%>
<%- include("./Attachment") -%>
<%- include("./treatmentAdvice") -%>
<%- include("./FollowUp") -%>


<%- include("../../footer") -%>


</body>
</html>